body,html{
	/* height: 100%; */
	margin: 0;
	background-color: FFF9D0;
}

.btn-warning{
	position: relative;
	padding: 11px 16px;
	font-size: 15px;
	line-height: 1.5;
	border-radius: 3px;
	color: #fff;
	/* background-color: #ffc100; */
	background-color: #FF9EAA;
	border: 0;
	transition: 0.2s;
	overflow: hidden;
  }
  
  
.btn-warning input[type = "file"]{
	cursor: pointer;
	position: absolute;
	left: 0%;
	top: 0%;
	transform: scale(3);
	opacity: 0;
}
  
.btn-warning:hover{
	background-color: #d65665;
}
.main_container{
	display: flex;
}

.breadcrumb_main{
	padding-top: 10px;
	padding-left: 10px;
	font-size: large;
}
.breadcrumb_main li{
	margin-right: 10;
}
.breadcrumb-item{
	margin-top: 8;
}

.nav {
	width: 20%;
	background-color: #f1f1f1;
	padding: 20px;
	height: 80%
  }
  nav .btn {
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    color: #000000;
    background-color: transparent; /* No background initially */
    border: none;
    overflow: hidden;
    transition: color 0.3s, background-color 0.3s;
    text-decoration: none;
    cursor: pointer;
}

nav .btn::before,
nav .btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #050633; /* Initial background color */
    z-index: -1;
    transition: transform 0.3s ease;
    transform: scaleX(0); /* Initially hidden */
    transform-origin: left;
}

nav .btn::after {
    background-color: #00bcd4; /* Second color for gradient effect */
    transform-origin: right;
}

nav .btn:hover::before {
    transform: scaleX(1); /* Slide from left on hover */
}

nav .btn:hover::after {
    transform: scaleX(1); /* Slide from right on hover */
}
/* Style for the navigation buttons */
.nav-button {
	display: block;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	background-color: #555; /* Button background color */
	color: #000000; /* Button text color */
	border: none;
	margin-bottom: 10px;
	cursor: pointer;
}
	
.nav-button:hover {
background-color: #777; /* Button background color on hover */
}

table {
    border: 1px solid #000; /* Apply the border to the table element */
}
th, td {
	border: 1px solid #000; /* Add a 1px solid black border to table header cells (th) and data cells (td) */
	padding: 8px; /* Optional: Add padding to cells for spacing */
}

tr:hover {
	background-color: #f5f5f5; /* Optional: Highlight rows on hover */
}

/* ***********************************key Buttons************************************************* */
.add_image{
	position: absolute;
	right:400;
	top:20;
	color: rgba(0, 0, 0, 0.8);
	font-size: 15px;
	font-weight: bolder;
}
.add_image2{
	position: absolute;
	right:610;
	top:20;
	color: rgba(0, 0, 0, 0.8);
	font-size: 15px;
	font-weight: bolder;
}
.add_table{
	position: absolute;
	right:20;
	top:20;
	color: rgba(0, 0, 0, 0.8);
	font-size: 15px;
	font-weight: bolder;
}
.addTable{
	color: rgba(0, 0, 0, 0.8);
	font-size: 15px;
	font-weight: bolder;
	border: 0;
	background-color: white;
}
.show_table{
	position: absolute;
	right:203;
	top:20;
	color: rgba(0, 0, 0, 0.8);
	font-size: 15px;
	font-weight: bolder;
	height: 40;
}

/* ***********************************Main body************************************************* */

.card {
	width: 98%;
	height: 100%;
	padding: 20px;
	margin-bottom: 5%;
	margin-left: 2%;
	border: 1px solid #ccc;
	background-color: #CAF4FF;
}

.msg_card_body{
	overflow-y: auto;
}
.card-footer{
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}
.container{
	align-content: center;
	/* height: 100%; */
}

.type_msg{
	background-color: 60px !important; 
	border:0 !important;
	color:rgb(0, 0, 0) !important;
	height: rgba(0,0,0,0.3) !important;
	overflow-y: auto;
}
.type_msg:focus{
	box-shadow:none !important;
   outline:0px !important;
}
.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: white !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.btn_css{
	width: 25px;
	color: red;
}
.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}

.active{
	background-color: rgba(0,0,0,0.3);
}
.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #f5f6fa;
	margin-left: 8%;
}
.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;

}
.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}
.img_cont_msg{
	height: 40px;
	width: 40px;
	scale: 1.1;
}
.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}
.offline{
	background-color: #c23616 !important;
}
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info h3{
	font-size: 25px;
	/* color: white; */
}
.user_info p{
	font-size: 12px;
	/* color: rgba(255, 255, 255, 0.09); */
}
.msg_cotainer{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: FF9EAA;
	padding-inline : 10px;
	position: relative;
}
.msg_cotainer ul {
    display: block;
    list-style-type: disc;
	margin-left: 0px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}
.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: 5AB2FF;
	padding: 10px;
	position: relative;
}
.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}
.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: rgba(0,0,0,1);
	font-size: 10px;
}
.msg_head{
	position: relative;
}




@media(max-width: 576px){
	.contacts_card{
	margin-bottom: 15px !important;
	}
}

.breadcrumb_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 50px; /* Adjust the height to fit the image and buttons */
}

.breadcrumb_main .logo {
    height: 80px; /* Adjust this value as needed to fit the height of the nav bar */
	margin-top: 20px;
    margin-left: 1px; /* Space between the logo and the first button */
}

.breadcrumb_main .btn {
	margin-top: 20px;
    margin-right: 10px; /* Space between buttons */
}

.breadcrumb_main .btn:last-child {
    margin-right: 0; /* Remove margin for the last button */
}

/* Reset default margins and paddings */
/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-class {
    min-height: 100vh; /* Ensure the body takes at least full viewport height */
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #ffffff; /* Adjust as needed */
    border-bottom: 1px solid #dddddd; /* Example border style */
    padding: 10px 0;
}
.eachitem{
	/* background-color: FFF9D0; */
	font-weight: 500;
}


.faq-section {
    flex: 1; /* Fill remaining space */
    overflow-y: auto; /* Add vertical scroll if needed */
    padding: 15px;
    background-color: #CAF4FF; /* Example background color */
    border-radius: 5px;
	height: 100%;
}
.copy-btn {
	border: none;
	background: none;
	cursor: pointer;
	color: #007bff;
}

@media (max-width: 1000px) {
    .msg_card_body, .faq-section {
        height: auto; /* Reset height for mobile */
    }
}

